@import url('https://fonts.googleapis.com/css2?family=Asar&family=Poppins:wght@100&display=swap');


*
{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}


li,a
{
    font-family: "Asar";
    /* font-size: 16px; */
    text-decoration: none;
}

/* 
#header
{
    background-color: rgb(177, 81, 177);
    color: aqua;
    height: 53px;
    font-size: 27px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
} */



.header1
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* justify-content: space-between; */
    padding: 0px  2%;
    align-items: center;

}

.header1-Items
{
    padding: 10px;
}

.header2
{
    display: flex;
}

#Logo {
    border-radius: 50%; /* Make the border radius 50% of the width and height, creating a circular shape */
}

.navlinks
{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    padding: 0 15px;
}

.navlinks li a
{
    font-weight: bold;
    color: black;
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover
{
    padding: 7px;
    border-radius: 25px;
    background-color: rgb(232, 232, 247);
}

.logos
{
    display: flex;
    
}

#name
{
    font-size: 20px;
    font-weight: bold  ;
    margin-top: 8px;
    /* background-color: bl; */
    color: black;
}
